form{
	background-image: url("../_img/voor-dd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.karakter{
	content: url("../_img/b_man.png");
}

.logo{
	content: url("../_img/logoblue.png");
}