html{
	font-family: 'Press Start 2P', cursive !important;
	font-size: 10px;
}

body{
	width: 500px;
	margin: auto;
}

fieldset{
	margin: auto;
}
img{
	width: 100px;
}

label{
	width: 150px;
	float: left;
	padding-top: 6px;
}
input{
	margin-bottom: 3px;
	width: 300px;
}

.radio{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 13px;
	margin-left: 44px;
}

.radioText{
	margin-bottom: 0px;
	width: 120px;
	padding-top: 0px;
}

.container{
	width: 120px;
	float: left;
	margin-top: -5px;
}

.submitButton{
	width: 100%;
	margin-top: 10px;
	font-family: 'Press Start 2P', cursive !important;
}
form{
	background-image: url("../_img/voor-dd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.karakter{
	content: url("../_img/b_man.png");
}

.logo{
	content: url("../_img/logoblue.png");
	width: 32%;
	float: left;
	position: relative;
	bottom: 28px;
}

.karakter_man{
	width: 32%;
	content: url("../_img/r_man.png");
	position: relative;
	bottom: 10px;
	float: left;
}

.karakter_vrouw{
	width: 32%;
	content: url("../_img/b_vrouw.png");
	float: left;
	position: relative;
	bottom: 10px;
}
h2{
	position: relative;
	top: 150px;
	left: 30%;
	margin: 0px;
}
.fieldset_top{
	height: 170px;
	margin-bottom: 15px;
}
.fieldset_middle{
	margin-bottom: 15px;
}