form{
	background-image: url("../_img/voor-ddr.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.karakter{
	content: url("../_img/r_vrouw.png");
}

.logo{
	content: url("../_img/logored.png");
}