body {
  direction:rtl!important;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  height: 100vh;
  min-height:1200px;
}

* {
  margin: 0;
  padding: 0;
}

canvas {
  height: 100%;
  position: absolute;
}

html{
  min-height: 500px;
}


